@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&family=Noto+Sans+Symbols:wght@100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #2D4480;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.card{
    background-color: #FFF;
    width: 268px;
    height: 440px;
    border-radius: 27px;
    padding: 40px;
    position: relative;
}
.title{
    text-align: center;
    font-family: "Noto Sans Symbols";
    color: #292929;
    font-size: 2.25rem;
    font-weight: 300;
    margin-top: -30px;
}
.list{
    font-family: "Noto Sans Symbols";
    font-size: 1rem;
    font-weight: 700;
    line-height: 32.8px;
    letter-spacing: 0.06em;
    text-align: center;
}
.logoyes img, .logono img{
    max-width: 20px;
    max-height: 20px;
    border-radius: 27px;
}
.one, .two, .three, .four, .five{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;    
}
.hr{
    width: 188px;
    height: 3px;
    background-color:#000;
    margin: 20px 20px 0 0;
}
.free{
    font-family: Noto Sans Symbols;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.13em;
    text-align: center;
    margin: 10px;
}
.forever{
    font-family: Allan;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    color: #2D4480;
    text-align: center;
    transform: translate(2.1875rem);
    margin: 10px;
    letter-spacing: normal;
}
.getstarted{
    background-color: #FFBC0F;
    width: 181px;
    height: 68px;
    border-radius: 27px;
    color: #253868;
    font-family: Noto Sans Symbols;
    font-size: 16px;
    font-weight: 600;
    line-height: 32.8px;
    letter-spacing: 0.06em;
    text-align: center;
    padding:15px;
    margin: 30px 6px;
    position: absolute;
}